<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<nav>

    <div class="logo">
        CONVERSOR DE BASES
    </div>

    <div class="nav-links">
        <a href="/"><i class="fa-solid fa-house"></i> Início</a>
        <a href="/conversor"><i class="fa-solid fa-repeat"></i> Conversor</a>
        <a href="/integrante"><i class="fa-solid fa-user"></i> Integrante</a>
    </div>

</nav>
<div class="container">
    <h1>O que são Bases Numéricas? </h1>

    <div class="text-section">
        <p>
            As bases numéricas são utilizadas na computação para representar informações.
        </p>

        <p>
            O sistema binário é utilizado pelos computadores,
            o hexadecimal facilita a leitura de códigos binários,
            o decimal é o sistema tradicional e o octal também pode ser utilizado em computação.
        </p>
    </div>
</div>

</body>
</html>