<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Integrantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>

    <div class="logo">
        CONVERSOR DE BASES
    </div>

    <div class="nav-links">
        <a href="/">Início</a>
        <a href="/conversor">Conversor</a>
        <a href="/integrante">Integrante</a>
    </div>

</nav>

<div class="container">
    <h1>Integrante</h1>

    <div class="text-section">
        <p>Gabrieli</p>
        <p>Desenvolvimento do Front-End</p>
        <p>Desenvolvimento das conversões</p>
        <p>Organização do projeto</p>
    </div>
</div>

</body>
</html>